header{
  width: 100%;
  height: 60px;
  background-color: rgba(254, 239, 204, 1.0)
}
.header-left img{
  height: 50px;
  margin-top: 5px;
  margin-left: 120px;
  float: left;
}
.header-right{
  margin-right: 120px;
}
.btn{
  margin: 5px;
  color: white;
  float: right;
}
.btn a{
  padding: 15px;
  display: block;
}
.r-btn{
  background-color: rgba(121, 132, 161, 1);
}
.l-btn{
  background-color: rgba(201, 181, 114, 1);
}

/*////////////////////////////
 JSによるメッセージウィンドウ
////////////////////////////*/
.js_msg_window{
  position: fixed;
  top: 0;
  width: 100%;
  height:60px;
  background: rgba(119, 100, 87, 0.7);
  text-align: center;
  font-size: 20px;
  line-height: 60px;
}

/*////////////////////////////
 コンテンツ共通部分
////////////////////////////*/
.h1-narrow{
  padding:0 0 50px 377.5px;
}
h1{
  font-size: 30px;
  font-weight: bold;
  font-family: Poppins;
  color: rgb(23, 23, 21);
  letter-spacing: 0.1em;
  line-height: 1.5;
}
h2{
  font-size: 20px;
  font-weight: bold;
  font-family: Poppins;
  color: rgb(23, 23, 21);
  letter-spacing: 0.05em;
}
.h2_space{
  padding: 15px 30px;
  margin-bottom: 15px;
  background:#d6d7da;
}
.h2_space2{
  padding: 15px 30px;
  background:#d6d7da;
}
label{
  display: block;
}
ul{
  list-style-type: none;
}
.inline{
  display: inline;
}

/*/////////////////////////
 アイコンフォント
/////////////////////////*/
.material-icons.md-36{
  font-size: 36px;
}
.material-icons.md-24{
  font-size: 24px;
  padding-bottom: 3px;
}
.material-icons.md-18{
  font-size: 18px;
  padding-bottom: 2px;
  color: rgba(250, 190, 0, 1);
}
.material-icons.nonactive{
  opacity: 0.2;
}
.material-icons.js-favorite:hover{
  cursor: pointer;
}
.material-icons.js-favorite.active{
  color: rgba(250, 120, 120, 1);
}
.material-icons.active{
  color: rgba(250, 190, 0, 1);
}

/*/////////////////////////
 スクロールビュー
/////////////////////////*/
.scrollView{
  max-height: 500px;
  overflow-y: scroll;
}
.scrollView-visual{
  border: 1px rgb(237, 237, 237) solid;
}

/*////////////////////////////
 ページネーション
////////////////////////////*/
ul.pagination-list{
  display: flex;
  justify-content: center;
}
li.list-item{
  padding: 10px 10px;
  margin: 0 2.5px;
  background: white;
  border: solid 0.5px #d6d7da;
}
li.list-active{
  background: #d6d7da;
}

/*////////////////////////////
 フッター
////////////////////////////*/
footer{
  width: 100%;
  height: 150px;
  background: rgba(119, 100, 87, 1);
  color: white;
  display: flex;
  justify-content: center;
}
footer .copyright{
  margin-top: 100px;
  display: block;
  font-size: 10px;
}


/*////////////////////////////
 追加CSS
////////////////////////////*/
.font-sizeS{
  font-size: 12.5px;
}
