main{
  width: 100%;
}

#first-wrap{
  position: relative;
  text-align: center;
  height: 1450px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1)65%, rgba(254, 239, 204, 1));
}

.fv{
  height: 900px;
  background-image: url(img/top.jpg);
  background-blend-mode: lighten;
}

.toumei{
  height: 100%;
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 1));
}

.fv h2{
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  font-family: Poppins;
  color: rgb(23, 23, 21);
  letter-spacing: 0.1em;
  line-height: 1.5;
  position: absolute;
  top:  270px;
  left: 220px;
}

.top-input{
  position: absolute;
  top: 435px;
  left: 220px;
}



.fv p{
  font-size: 22px;
  font-weight: bold;
  font-family: Poppins;
  color: rgb(23, 23, 21);
  letter-spacing: 0.05em;
  line-height: 1.8;
  position: absolute;
  top: 850px;
  left: 50%;
  transform: translate(-50%);
}


#find{
  height: 1800px;
  background-image: url(img/top2.jpg);
}
.sectionWrapper{
  padding: 120px 0 50px;
}
.pageWidth{
  width: 1000px;
  margin: 0 auto;
}
.pageWidth--display{
  display: flex;
  justify-content: space-between;
}


.center{
  width: 750px;
}
.introList{
  padding: 30px 0;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 30px;
}
.introList--first{
  background: rgba(120, 130, 160, 0.7);
}
.introList--second{
  background: rgba(200, 180, 110, 0.7);
}
.introList_title{
  width: 40%;
  background: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 10px 0;
  margin: 0 auto;
}
.introList_item{
  padding: 20px 0;
}
.introList_item--center{
  display: flex;
  justify-content: center;
}
.introList_item--between{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
}
.linkCard{
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}
.linkCard--introList{
  width: 22%;
  background: white;
  margin: 10px 5px 0;
}
.linkCard_img--introList{
  width: 80px;
  height: 60px;
}
.linkCard_name{
  font-size: 20px;
  font-weight: bold;
}
.linkCard_name--introList{
  margin: 0 auto;
}
.linkPic{
  display: inline-block;
  box-sizing: border-box;
}
.linkPic--introList{
  width: 17.9%;
  height: 160px;
  background: white;
  margin: 10px 5px 0;
}
.linkPic--review{
  width: 24%;
  height: 250px;
  background: white;
}
.linkPic_img{
  width: 100%;
}
.linkPic_img--size{
  height: 120px;
  vertical-align: bottom;
}

.linkPic_name{
  font-weight: bold;
}
.linkPic_name--introList{
  line-height: 40px;
}
.linkPic_contents{
  height: 130px;
  padding: 5px;
  box-sizing: border-box;
  background: rgba(255, 255, 240, 1);
}


.days{
  font-size: 12px;
}

.listCard{
  padding: 30px 50px;
  background: rgba(237, 237, 237, 1);
}
.listCard--marginS{
  margin: 10px 30px;
}
.panelItem{
  padding: 4px 0;
}
.panelItem--comment{
  font-size: 15px;
  line-height: 1.3;
}
.starBox{
  padding-right: 5px;
}
.totalPt{
  color: red;
  font-size: 23px;
  font-weight: bold;
}
.totalPt--s{
  font-size: 18px
}

.pointArea{
  display: inline-flex;
  align-items: center;
}
.pointAria_Item{
  float: left;
  display: inline-flex;
  align-items: center;
  line-height: 24px;
}
