.wrap{
  padding: 50px 0 50px;
  width: 1000px;
  margin: 0 auto;
}
main{
  width: 750px;
  margin: 0 auto;
}
.h1-wide{
  padding:0 0 50px;
}
.contents-inner{
}


.for-space{
  padding: 20px 150px;
  margin: 0 auto;
}
.section-container{
  padding: 40px 110px 20px;
  margin: 0 auto;
  border: solid 40px rgba(237, 237, 237, 1);

}

.area-msg{
  height: 20px;
  margin: 5px 0 20px;
  font-size: 14px;
  color: red;
}
.label-required{
  margin-right: 5px;
  background: rgba(255, 90, 90, 1);
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  padding: 4px 5px;
  vertical-align: bottom;
  display: inline;
}
.label-optional{
  margin-right: 5px;
  background: rgba(150, 150, 150, 1);
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  padding: 4px 5px;
  display: inline;
}

.err{
  background: #f7dcd9;
}
input[type="text"],[type="password"]{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: rgba(237, 237, 237, 1);
  border: none;
  padding: 5px 10px;
}
select{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: rgba(237, 237, 237, 1);
  border: none;
  padding: 5px 10px;
}
.option-items{
  margin-top: 10px;
  height: 20px;
  background: rgb(237, 237, 237);
  padding: 15px 10px 10px;
}
input[type="checkbox"]{
  margin-right: 3px;
}
textarea{
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px;
  background: rgba(237, 237, 237, 1);
  border: none;
}
.text-counter{
  text-align: right;
}
input[type="submit"]{
  height: 40px;
  width:120px;
  background: rgba(38, 54, 104, 1);
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}
input[type="submit"]:hover{
  cursor: pointer;
}


.align-center{
  text-align: center;
}
aside{
  width: 230px;
  height: 360px;
  margin:95px 0 0 20px;
  background: rgba(237, 237, 237, 0.5);
}
.sidebar-title{
  height: 50px;
  background: #d6d7da;
  margin-bottom: 30px;
}
.sidebar-title p{
  padding: 17px 0;
  font-weight: bold;
}
.sidebar-inner a{
  padding: 10px 15px;
  margin: 15px 20px;
  background: rgba(255, 255, 255, 1.0);
  border: 1px solid rgba(56, 65, 79, 0.2);
  display: block;
}
.small_font{
  font-size: 12.5px;
}
