main{
  padding: 120px 0 50px;
  width: 1000px;
  margin: 0 auto;
  display:flex;
}
#left-sidebar{
  width: 220px;
  margin-right: 20px;
  height: 100%;
  border: solid 5px rgba(237, 237, 237, 1);
}
.sidebar-inner select{
  text-align: center;
  border :none;
}
.sidebar-inner input{
  text-align: center;
  border :none;
  padding: 0 5px;
}
.main_search{
  background: rgba(237, 237, 237, 1);
  padding: 15px 15px 20px 15px;
}
.search_detail{
  border: solid 5px rgba(237, 237, 237, 1);
}
.search_detail p{
  padding: 10px;
  background: rgba(254, 239, 204, 0.8);
  display: block;
}
.main_search input{
  width: 170px;
  height: 30px;
}
.main_search select{
  width: 180px;
  height: 30px;
}
.sub_search input{
  width: 200px;
  height: 30px;
}
.sub_search select{
  width: 200px;
  height: 30px;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: none;
  background: rgba(38, 54, 104, 1);
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}
input[type="submit"]:hover{
  cursor: pointer;
}
article{
  width: 750px;
}
.h1-wide{
  padding:0 0 50px;
}
.list{
  background: rgba(237, 237, 237, 0.5);
  padding-top: 30px;
  margin-bottom: 30px;
}
.card{
  background: rgba(255, 255, 255, 1);
  border-top: solid 0.1px;
  border-bottom: solid 0.1px;
  margin: 0 12px 30px 12px;
}
.photo-area{
  margin:0 5px 10px 0;
}
.big_photo{
  width: 185px;
  height: 185px;
}
.small_photo{
  width: 55px;
  height: 55px;
  margin-top: 5px;
  margin-right: 4.5px;
}
.name_area h2{
  color: blue;
  padding: 3px 0 10px;
}

/*/////////////////////////
 アイコンフォント
/////////////////////////*/
.material-icons.md-24{
  font-size: 24px;
}
.material-icons.nonactive{
  opacity: 0.2;
}
.material-icons.js-favorite:hover{
  cursor: pointer;
}
.material-icons.js-favorite.active{
  color: rgba(250, 120, 120, 1);
}
.material-icons.active{
  color: rgba(250, 190, 0, 1);
}


.script_area{
  width: 524px;
}
.review_score{
  padding: 5px 0 10px;
}
.total_score span{
  color: red;
  font-size: 23px;
  font-weight: bold;
  margin: 0 10px;
}
.review_numbers{
  margin: auto 0;
}
.purpose{
  font-size: 13px;
  margin:0 10px 10px;
}
.feature_area .list-feature{
  background: rgba(254, 239, 204, 0.8);
  color: rgba(121, 132, 161, 1);
  border: 0.5px solid rgba(121, 132, 161, 1);
  border-radius: 15px;
  margin-right: 5px;
}
.feature_area .list-feature a{
  padding:5px 10px;
  display: block;
  font-size: 13px;
}

.comment{
  background: rgba(237, 237, 237, 0.5);
  padding: 0 5px;
  margin: 10px 5px 0 0;
}
.comment p{
  font-size: 14px;
  line-height: 25.5px;
}
.more{
  padding-bottom: 30px;
}
.display_flex{
  display: flex;
}
.border_bottom{
  border-bottom: dashed black 1px;
}
.align_center{
  text-align: center;
}
.small_font{
  font-size: 12.5px;
}
.padding_top10{
  padding-top: 10px;
}
.padding_bottom10{
  padding-bottom: 10px;
}
.icon-space{
  margin-left: 10px;
}
